* {
    transition: all 0.3s;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    // color: #E50914;
    color: #ffffff;
    // color: #4A455C;
    line-height: 1.6;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;

    // background: url(../assets/myke-simon-atsUqIm3wxo-unsplash.jpg);
    background: url(../assets/serena-wong-SdjA-_Xzuxg-unsplash.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

// headings
h1 {
    font-size: 8rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 4rem;
    font-weight: initial;
}