.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.results .movie-container,
.watched-movies .movie-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    border: 2px solid #E50914;
    flex: 1 0 200px;
    padding-bottom: 20px;
    // background: rgba(201, 23, 23, 0.8);
    background: rgba(244, 244, 244, 0.8);
    color: #000000;
    
    // background: beige;
}

.results .movie-container .poster,
.watched-movies .movie-container .poster {
    width: 100%;
}

.movie-container > *:not(:first-child) {
    padding: 10px;
    margin: 5px;
}

.description{
    transition: height 3s ease-in-out;
}
.description:not([open]) { height: 60px;}
.description[open] { height: 100%; }

.description p {
    overflow-y: scroll;
    max-height: 300px;
}

.restart {
    padding: 50px 0;
    display: none;
}

.movie-container button {
    background: rgba(0, 0, 0, 0.93);
}

// .results .movie-container:hover,
// .results .movie-container:focus-within {
//     // border: 2px solid #b9dd19;
//     -ms-transform: scale(1.01);
//     -webkit-transform: scale(1.01);
//     transform: scale(1.01);
//     transition-delay: 0.15s;
// }