.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 350px));
    grid-gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.results .movie-container,
.results .movie-container-back,
.watched-movies li {
    border: 2px solid #E50914;
    padding-bottom: 20px;
    background: rgba(244, 244, 244, 0.8);
    color: #000000;
}

.watched-movies li {
    margin: 40px 5%;
    padding-bottom: 30px;
    // min-height: 50vh;

    > * {
        width: 100%;
    }

    button {
        padding: 10px;
        margin: 5px;
    }
}

.single-movie > * {
    width: 100%;
}

.results .movie-container .poster,
.watched-movies .movie-container .poster {
    width: 100%;
}

.movie-container > *:not(:first-child) {
    padding: 10px;
    margin: 5px;
}

.restart {
    padding: 50px 0;
    display: none;
}

.single-movie button,
.watched-movies button {
    background: rgba(0, 0, 0, 0.93);
}

// FLIP //////////////////////////////////////////
.watched-movies li,
.single-movie {
    position: relative;
    text-align: center;
    transition: transform .5s;
    transform-style: preserve-3d;
    display: flex;
}

.movie-container-back {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 5px 10%;
    // overflow-y: scroll;
    // min-height: 50vh;
}

.movie-container-back {
    transform: rotateY(180deg);
}

.movie-container-flipped {
    transform: rotateY(180deg);
}