@media (max-width: 1380px) {
    .genres {
        height: 100%;
    }
}

@media (max-width: 850px) {
    .genres {
        height: 135%;
        align-content: center;
    }

    .search-bar > * {
        margin: 20px 0;
    }
    .search-bar input[type="text"] {
        width: 80%;
    }

    div.watched-movies {
        width: 60%;
    }
}

@media (max-width: 575px) {
    .genres {
        height: initial;
    }

    div.watched-movies {
        width: 90%;
    }
}